.blearui-editor {
  border: 1px solid #dcdcdc; }
  .blearui-editor-header {
    border-bottom: 1px solid #e6e6e6;
    font-size: 0; }
  .blearui-editor-button {
    display: inline-block;
    position: relative; }
  .blearui-editor-icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #666666;
    cursor: pointer; }
    .blearui-editor-icon:hover {
      background: #f6f6f6; }
    .blearui-editor-icon.active {
      background: #e0e0e0;
      color: #333; }
    .blearui-editor-icon-heading:before {
      content: "P";
      font-size: 19px;
      font-weight: bold;
      font-family: 'Times New Roman'; }
    .blearui-editor-icon-heading-1:before {
      content: "H1"; }
    .blearui-editor-icon-heading-2:before {
      content: "H2"; }
    .blearui-editor-icon-heading-3:before {
      content: "H3"; }
    .blearui-editor-icon-heading-4:before {
      content: "H4"; }
    .blearui-editor-icon-heading-5:before {
      content: "H5"; }
    .blearui-editor-icon-heading-6:before {
      content: "H6"; }
  .blearui-editor-dropOptions {
    display: none;
    font-size: 16px;
    position: absolute;
    min-width: 160px;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 4px; }
    .blearui-editor-dropOptions:before, .blearui-editor-dropOptions:after {
      content: '';
      position: absolute;
      border: 8px solid transparent;
      top: -16px;
      left: 10px; }
    .blearui-editor-dropOptions:before {
      border-bottom-color: #d9d9d9; }
    .blearui-editor-dropOptions:after {
      border-bottom-color: #fff; }
    .blearui-editor-dropOptions a {
      line-height: 36px;
      display: block;
      text-decoration: none;
      color: #666666;
      padding: 0 10px; }
      .blearui-editor-dropOptions a:hover {
        background: #f6f6f6; }
    .blearui-editor-dropOptions li.active {
      margin-left: -1px;
      margin-right: -1px; }
      .blearui-editor-dropOptions li.active a {
        background: #4899FA;
        color: #fff; }
  .blearui-editor-body {
    position: relative;
    margin: 10px; }
  .blearui-editor-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    color: #888;
    z-index: 0; }
  .blearui-editor-content {
    position: relative;
    z-index: 1;
    outline: 0; }
